:root {
    --main-text-color:#757575;
    --header-color:#212121;
    --header-bg-color: #FFFFFF;
    --animation-color: #2196F3;
    --logo-color: #000000;
    --team-bg-color: #F5F4FA;
    --animation-button: #188CE8;
    --footer-bg-color: #2F303A;
    --border-color: #eeeeee;
    --bg-color: #f5f4fa;
    --attention-grid-item: 4;
    --client-grid-item: 6;
    --items: 2;
    --indent: 30px;
    --anim-slow: 600ms ease-in-out;
	--anim-fast: 300ms ease-in-out;
}